.wrapper {
	margin-right: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
	position: relative;
	> span {
		cursor: pointer;
		user-select: none;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 3px;
		border: 1px solid #121212;
		width: 14px;
		height: 14px;
		cursor: pointer;
		top: 6px;
		left: 0;
		transition: ease 0.5s;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		top: 8px;
		left: 2px;
		background: #a9d3e9;
		border-radius: 3px;
		transform: scale(0);
		transition: ease 0.5s;
	}
	&.active {
		&::after {
			border: 1px solid #a9d3e9;
			transition: ease 0.5s;
		}
		&::before {
			transform: scale(1);
			transition: ease 0.5s;
		}
	}
}
